body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #ebeff3; 
    text-align: center; 
    background-image: url("rhcp.webp");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    position: relative;
    z-index: 1; 
}

h1 {
    font-size: 4em;
    margin: 0;
    color: transparent; 
    background: linear-gradient(45deg, #f00, #000); 
    background-clip: text;
    padding: 10px; 
}

main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.info {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    margin: 0 10px;
    border-radius: 10px; 
}

h2 {
    font-size: 2.5em;
    color: rgb(136, 19, 15); 
    margin-top: 0; 
}

ul {
    list-style-type: none; 
    padding: 0; 
}

li {
    font-size: 1.2em;
    margin: 10px 0; 
}

footer {
    background-color: rgba(0, 0, 0, 0.7); 
    color: #8d1313; 
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}